#branding {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/slider.png", sizingMethod="crop");
}

#mask {
    position: absolute;
    height: expression( document.body.parentNode.offsetHeight );
}

#detail {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/detail-bg.png", sizingMethod="scale");
    position: absolute;
}

#detail span.top {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/detail-top.png", sizingMethod="crop");
}

#detail span.bottom {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/detail-bottom.png", sizingMethod="crop");
}

div.info,
#content {
    zoom: 1;
}

#wrapper #detail {
    filter: none;
}

#slides li {
    margin-left: 5px;
}

#sliderLeft {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/arrLeft.png", sizingMethod="crop");
}

#sliderRight {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/arrRight.png", sizingMethod="crop");
}

#detail-ie6 {
    padding: 12px 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -306px;
    width: 612px;
    z-index: 100;
}

#detail-ie6 span.top {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/detail-top.png", sizingMethod="crop");
    display: block;
    width: 612px;
    height: 12px;
    font-size: 0px;
}

#detail-ie6 #detail {
    position: static;
    margin: 0px;
}

#detail-ie6 span.bottom {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/detail-bottom.png", sizingMethod="crop");
    display: block;
    width: 612px;
    height: 12px;
    font-size: 0px;
}
