body, h1, h2, h3, h4, h5, h6, form, ul, li, p {margin: 0px; padding: 0px}
html {background: #030708 url(/images/bg.png) top left repeat; color: #e1e1e1}
body {background: #030708 url(/images/bg.png) top left repeat; border-top: solid 6px #a7cd01; font-size: 75%; font-family: Arial, Helvetica, sans-serif; color: #e1e1e1}
a, a:visited {color: #748c0c; text-decoration: none; background-color: inherit}
a:hover {text-decoration: underline}
abbr a:hover {text-decoration: none}
pre {font-size: 15px}
#wrapper div.nobg {background: none}
h1 {width: 286px; height: 117px; margin: 0px 242px 11px; outline: none; font-family: "Times New Roman", serif; line-height: 1.2em; position: relative; overflow: hidden}
h1 a, h1 a:visited {display: block; width: 286px; height: 117px; overflow: hidden; text-align: center; padding-top: 40px; color: #ffffff; background-color: inherit}
h1 span {position: absolute; top: 0px; left: 0px; background: url(/images/sprite-map.png) -866px 9px no-repeat; width: 286px; height: 117px}
h1 em {display: block; font-size: 1.5em; text-align: center}
h1 a:hover {text-decoration: none}
h2 {display: none}
h3 {color: #b2da00; font-size: 1em; border-bottom: solid 1px #404344; padding: 5px; margin-bottom: 10px; background-color: inherit}
#wrapper a.button {background: #414e60 url(/images/button.png) top left repeat-x; padding: 0.375em 20px; line-height: 4em; color: #ffffff}
a.button {text-decoration: none}
p.center {text-align: center}
#wrapper {width: 780px; margin: auto; position: relative}
#branding {padding: 0px 10px; background: url(/images/sprite-map.png) no-repeat; background-position: bottom left; width: 760px}
#slider {width: 760px; height: 166px; overflow: scroll; position: relative}
#slides {overflow: hidden; list-style: none; width: 4420px; position: absolute; top: 0px; left: 0px; white-space: nowrap}
#slides li {float: left; width: 150px; height: 150px; margin: 0px 5px 0px 10px; padding-right: 5px; position: relative; background: url(/images/shadow.png) no-repeat; background-position: top right}
#slider li a {width: 150px; height: 150px; display: block}
#slider li a img {width: 140px; height: 140px; display: block}
#slides li img {border: solid 5px #ffffff; cursor: pointer}
#sliderLeft, #sliderRight {width: 43px; height: 171px; position: absolute; top: 117px; z-index: 1}
#sliderLeft {left: 0px; background: url(/images/sprite-map.png) -780px 0 no-repeat}
#sliderRight {right: 0px; background: url(/images/sprite-map.png) -823px 0 no-repeat}
#content {margin-top: 10px; overflow: hidden}
div.infoblock {width: 240px; margin-left: 15px; float: left}
div.infoblock a {color: #9bc1d5; background: inherit}
div.infoblock abbr {border-bottom: dotted 1px #9bc1d5}
div.infoblock p {padding: 0px 5px; line-height: 1.8em}
#footer {border-top: solid 1px #404344; padding: 10px; text-align: right; margin-top: 30px}
#footer address {font-style: normal}
#mask {background-color: #000000; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 10; color: #ffffff}
#indicator {width: 66px; height: 66px; position: absolute; top: 50%; left: 50%; margin-top: -33px; margin-left: -33px; background: url(/images/ajax-loader.gif) top left no-repeat; z-index: 100}
#detail {background: url(/images/detail-bg.png) top left repeat-y; width: 582px; position: fixed; left: 50%; top: 50%; margin-left: -306px; margin-top: -200px; z-index: 11; overflow: visible; padding: 15px}
#wrapper #detail {position: relative; top: auto; margin: 12px 0px 12px -306px; background: none}
#wrapper #detail #close {display: none}
#wrapper #detail #bigpreview {left: -200px; top: -180px}
#detail span.top, #detail span.bottom {background: url(/images/detail-top.png) top left no-repeat; width: 612px; height: 12px; display: block; position: absolute; top: -12px; left: 0px}
#detail span.bottom {background-image: url(/images/detail-bottom.png); top: auto; bottom: -12px}
#close {padding: 5px 0px 5px 20px; background: url(/images/close.gif) no-repeat; background-position: center left; color: #f0f0f0; background-color: inherit; float: right; display: block; cursor: pointer}
#detail h2 {font-size: 1.66em; color: #b2da00; display: block; margin-bottom: 15px; background-color: inherit}
#detail #thumb {width: 368px; height: 292px; border: solid 1px #525657; display: block}
#detail div.right-column {float: right}
#detail div.preview {width: 198px; height: 140px; border: solid 1px #525657; position: relative; overflow: hidden}
#detail #preview {margin-top: 10px}
#detail #preview img {position: absolute; top: 0px; left: 0px}
div.info {background: #232728; padding: 10px; overflow: hidden; margin-top: 10px; color: #e1e1e1}
div.info p {padding: 0px 5px 5px}
div.info div.left {min-width: 160px; max-width: 225px; float: left; margin-right: 15px}
div.info div.right {overflow: hidden}
#thumb, #icon, #preview {background: url(/images/ajax-loader.gif) no-repeat; background-position: center center}
