#mask {
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: #ffffff;
}

#indicator {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    background: url(../images/ajax-loader.gif) top left no-repeat;
    z-index: 100;
}

#detail {
    background: url(../images/detail-bg.png) top left repeat-y;
    width: 582px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -306px;
    margin-top: -200px;
    z-index: 11;
    overflow: visible;
    padding: 15px;
}

#wrapper #detail {
    position: relative;
    top: auto;
    margin: 12px 0px 12px -306px;
    background: none;
}

#wrapper #detail #close {
    display: none;
}

#wrapper #detail #bigpreview {
    left: -200px;
    top: -180px;
}

#detail span.top,
#detail span.bottom {
    background: url(../images/detail-top.png) top left no-repeat;
    width: 612px;
    height: 12px;
    display: block;
    position: absolute;
    top: -12px;
    left: 0px;
}

#detail span.bottom {
    background-image: url(../images/detail-bottom.png);
    top: auto;
    bottom: -12px;
}

#close {
    padding: 5px 0px 5px 20px;
    background: url(../images/close.gif) no-repeat;
    background-position: center left;
    color: #f0f0f0;
    background-color: inherit;
    float: right;
    display: block;
    cursor: pointer;
}

#detail h2 {
    font-size: 1.66em;
    color: #b2da00;
    display: block;
    margin-bottom: 15px;
    background-color: inherit;
}

#detail #thumb {
    width: 368px;
    height: 292px;
    border: solid 1px #525657;
    display: block;
}

#detail div.right-column {
    float: right;
}

#detail div.preview {
    width: 198px;
    height: 140px;
    border: solid 1px #525657;
    position: relative;
    overflow: hidden;
}

#detail #preview {
    margin-top: 10px;
}

#detail #preview img {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.info {
    background: #232728;
    padding: 10px;
    overflow: hidden;
    margin-top: 10px;
    color: #e1e1e1;
}

div.info p {
    padding: 0px 5px 5px;
}

div.info div.left {
    min-width: 160px;
    max-width: 225px;
    float: left;
    margin-right: 15px;
}

div.info div.right {
    overflow: hidden;
}

#thumb, #icon, #preview {
    background: url(../images/ajax-loader.gif) no-repeat;
    background-position: center center;
}
